workflows/amazon-price-drop.json
{
  "name": "Amazon Price-Drop Alert (Scavio + Sheets)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            { "field": "hours", "hoursInterval": 6 }
          ]
        }
      },
      "id": "1",
      "name": "Every 6 Hours",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "operation": "read",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "REPLACE_WITH_SPREADSHEET_ID"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "Watchlist"
        },
        "options": {}
      },
      "id": "2",
      "name": "Get Watchlist",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [460, 300],
      "credentials": {
        "googleSheetsOAuth2Api": { "id": "REPLACE_ME", "name": "Google Sheets" }
      },
      "notes": "Watchlist columns: asin | email | targetPrice | title. Delete the row after you buy."
    },
    {
      "parameters": {
        "resource": "amazon",
        "operation": "product",
        "query": "={{ $json.asin }}"
      },
      "id": "3",
      "name": "Scavio: Get Product",
      "type": "n8n-nodes-scavio.scavio",
      "typeVersion": 1,
      "position": [680, 300],
      "credentials": {
        "scavioApi": { "id": "REPLACE_ME", "name": "Scavio API" }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "loose" },
          "conditions": [
            {
              "id": "c1",
              "leftValue": "={{ Number($json.data?.price?.value ?? $json.data?.price ?? $json.price ?? 0) }}",
              "rightValue": "={{ Number($('Get Watchlist').item.json.targetPrice) }}",
              "operator": { "type": "number", "operation": "lte" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "4",
      "name": "Below Target?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "fromEmail": "alerts@example.com",
        "toEmail": "={{ $('Get Watchlist').item.json.email }}",
        "subject": "=Price hit target on {{ $('Get Watchlist').item.json.title }}",
        "emailFormat": "text",
        "text": "={{ $('Get Watchlist').item.json.title }} is now ${{ $json.data?.price?.value ?? $json.data?.price ?? $json.price }} (your target was ${{ $('Get Watchlist').item.json.targetPrice }}).\n\nhttps://www.amazon.com/dp/{{ $('Get Watchlist').item.json.asin }}\n\n— Scavio price tracker",
        "options": {}
      },
      "id": "5",
      "name": "Send Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [1140, 220],
      "credentials": {
        "smtp": { "id": "REPLACE_ME", "name": "SMTP" }
      }
    }
  ],
  "connections": {
    "Every 6 Hours": {
      "main": [[{ "node": "Get Watchlist", "type": "main", "index": 0 }]]
    },
    "Get Watchlist": {
      "main": [[{ "node": "Scavio: Get Product", "type": "main", "index": 0 }]]
    },
    "Scavio: Get Product": {
      "main": [[{ "node": "Below Target?", "type": "main", "index": 0 }]]
    },
    "Below Target?": {
      "main": [
        [{ "node": "Send Email", "type": "main", "index": 0 }],
        []
      ]
    }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "meta": { "templateCredsSetupCompleted": false }
}
